In [8]:
import pandas as pd

# Try reading the CSV file with a different encoding
df = pd.read_csv('spam.csv', encoding='latin1')

# Display a random sample of 5 rows from the DataFrame
df.sample(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
690,ham,Was the farm open?,NaN,NaN,NaN
597,spam,You have an important customer service announc...,NaN,NaN,NaN
3265,ham,tap & spile at seven. * Is that pub on gas st ...,NaN,NaN,NaN
1812,ham,\Getting tickets 4 walsall tue 6 th march. My ...,NaN,NaN,NaN
3437,ham,Its good to hear from you,NaN,NaN,NaN

In [10]:
df.shape

(5572, 5)

In [ ]:
#1.Data cleaning
#2.EDA
#3.Text Prepocessing
#4.Model building
#5.Evaluation
#6.Improvement

## 1. Data Cleaning

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [16]:
# drop the colunms
df.drop(columns=['Unnamed: 2','Unnamed: 3','Unnamed: 4'], inplace=True)

In [17]:
print(df.sample(5))

       v1                                                 v2
3016  ham  One of the joys in lifeis waking up each daywi...
3338  ham  Babe !!!! I LOVE YOU !!!! *covers your face in...
663   ham        Leave it de:-). Start Prepare for next:-)..
2127  ham  Tessy..pls do me a favor. Pls convey my birthd...
566   ham      Oooh bed ridden ey? What are YOU thinking of?

In [18]:
#rename
df.rename(columns={'v1':'target','v2':'text'},inplace=True)
df.sample(5)

     target                                               text
2864    ham  He says hi and to get your ass back to south t...
5321    ham  Ok no problem... Yup i'm going to sch at 4 if ...
1411    ham  somewhere out there beneath the pale moon ligh...
2774    ham     Dude u knw also telugu..thts gud..k, gud nyt..
5371    ham             Lol, oh you got a friend for the dog ?

In [24]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df['target'] = encoder.fit_transform(df['target'])
df.sample(5)

      target                                               text
5514       0                  Oh... Okie lor...We go on sat...
2516       0                             Yes.i'm in office da:)
5038       0  Pls clarify back if an open return ticket that...
3787       1  Want to funk up ur fone with a weekly new tone...
767        0                             Sorry, I'll call later

In [27]:
df.head()
df.isnull().sum()

target    0
text      0
dtype: int64

In [30]:
df.duplicated().sum()

0

In [29]:
df=df.drop_duplicates(keep='first')

In [31]:
df.shape

(5169, 2)

## 2. EDA

In [32]:
df.head()
df['target'].value_counts()

target
0    4516
1     653
Name: count, dtype: int64